{% extends "hydrotop/base2.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}







{% block app_navigation %}
  <form id ="load_simulation"  method="post" action="{% url 'hydrotop:model_run' %}" enctype="form-data">
    {% csrf_token %}
      <br>
          {% gizmo select_input simulation_names_dropdown %}

      <a style="color:grey;" data-toggle="collapse" data-target="#hs_res_id_for_model"> Enter HydroShare resource id instead</a>
      <div class="collapse" id="hs_res_id_for_model">{% gizmo text_input existing_sim_res_id %}  </div>


  <input type="submit" name="simulation-load" class="btn btn-default" value="Load simulation" > <!--This line looks pretty useless to me-->
  <input type="hidden" id="msg" value= "{{msg}}">   <!--This too is kinda useless, because hs_resource_id is not know in this html -->

  </form>

{% endblock %}





{% block app_content %}

<p> <strong> Please refresh perdiodically to see if your work has been completed. The completed works are sorted with earliest work appearing on top. </strong> </p>
 {% gizmo table_view hs_model_resources_table %}

<hr>


{%endblock%}






{% block app_actions_override %}
{% endblock %}





{% block scripts %}
{{ block.super }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJVwfz-TJWiZCvLmgYHv2yHYc8vagp7V0&callback=initMap&libraries=drawing,places">
</script>
<script src="{% static 'hydrotop/js/job_check.js' %} " type="text/javascript"></script>
{% endblock %}





