{% extends "hydrotop/base.html" %}

{% load tethys_gizmos %}


{% block app_navigation_items %}
<h3>Prepare the model</h3>



  <form id ="inputs"  method="post" action="{% url 'hydrotop:test1' %}" enctype="multipart/form-data">

      {% csrf_token %}


        <p> Inputs for the model </p>
            <p data-toggle="collapse" data-target="#general_input" style="color: darkgreen; margin-bottom: 25px"><strong><u> Step 1: General Inputs </u></strong></p>
            <div id="general_input" class="collapse" >

              <table style="width:100%">
                      <tr>
                            <th> {% gizmo text_input simulation_name %} </th>
                            <th> {% gizmo text_input USGS_gage %} </th>
                      </tr>
                      <tr>
                            <th> {% gizmo date_picker simulation_start_date_picker %} </th>
                            <th>  {% gizmo date_picker simulation_end_date_picker %} </th>
                      </tr>
              </table>

            </div>


            <p data-toggle="collapse" data-target="#domain" style="color: darkgreen; margin-bottom: 25px"><strong><u> Step 2: Enter the domain </u></strong></p>

            <div id="domain" class="collapse" >

                <input type="radio" name="group1" value="1" data-toggle="collapse" data-parent="#accordion" data-target="#Specify" > Specify coordinates, or draw on map

                <div id="Specify" class="panel-collapse collapse" >
                  <br> <strong> OUTLET  </strong>

                  <table style="width:100%">


                      <tr>
                            <th> {% gizmo text_input outlet_x %} </th>
                            <th> {% gizmo text_input outlet_y %} </th>
                      </tr>

                    </table>
                    <br>

                  <strong> BOUNDING BOX </strong> <br>
                  <table width="100%">
                      <tr>
                            <th> </th>
                            <th> {% gizmo text_input box_topY %}</th>
                            <th> </th>
                      </tr>
                      <tr>
                            <td>{% gizmo text_input box_leftX %}</td>
                            <td></td>
                            <td>{% gizmo text_input box_rightX %}</td>
                      </tr>
                      <tr>
                            <td></td>
                            <td> {% gizmo text_input box_bottomY %}</td>
                            <td></td>
                      </tr>

                  </table>
                </div>

                <input type="radio" name="group1" value="1" data-toggle="collapse" data-parent="#accordion" data-target="#upload" > Upload ESRI shp files

                <div id="upload" class="collapse" >
                  <table>
                      <tr>
                          <th> Outlet </th>
                          <th><input type="file" name="outlet_shp" multiple/> </th>
                          <th><input type="submit" name="submit" value="Upload" /> </th>
                      </tr>
                      <tr>
                          <th> Watershed </th>
                          <th><input type="file" name="watershed_shp" multiple/> </th>
                          <th><input type="submit" name="submit" value="Upload" /> </th>
                      </tr>
                   </table>
                </div>


                <br><input type="radio" name="group1" value="1" data-toggle="collapse" data-parent="#accordion" data-target="#hs_upload" > Specify Hydroshare Resource ID
                <div id="hs_upload" class="collapse" >
                   <table>
                      <tr>
                          <th> Outlet  </th>
                          <th>{% gizmo text_input outlet_hs %} </th>
                      </tr>
                      <tr>
                          <th> Watershed </th>
                          <th>{% gizmo text_input bounding_box_hs %} </th>
                      </tr>
                   </table>
                </div>


            </div>






            <p data-toggle="collapse" data-target="#additional_inputs" style="color: darkgreen; margin-bottom: 25px"><strong><u>  Step 3: Additional Inputs </u></strong></p>
            <div id="additional_inputs" class="collapse" >
                <table style="width:100%">
                  <tr>
                        <th> {% gizmo text_input cell_size %} </th>
                        <th> {% gizmo text_input timestep %} </th>
                  </tr>

                </table>

                <table style="width:100%">
                      <tr>
                            <td>{% gizmo select_input timeseries_source %}</td>
                            <td>{% gizmo select_input model_engine %} </td>
                      </tr>
                </table>

                  {% gizmo text_input threshold %}

            </div>

      <input type="submit" name="input-form" class="btn btn-default">
  </form>

            <br><br>
            <p data-toggle="collapse" data-target="#load_model" style="color: darkgreen; margin-bottom: 25px"><strong><u>  Or, Load Existing models </u></strong></p>
            <div id="load_model" class="collapse">
                {% gizmo select_input simulation_names_list%}



            </div>

{% endblock %}




{% block app_actions %}
      <table style="width:100%">
          <a href="{% url 'hydrotop:home' %}" class="btn btn-default">Back</a>
      </table>



  <!-- This is url tag-->
  <!-- the structure is interesting. map represents name of UrlMap in App.py, and hydrotop is name of app-->
  <!-- WE ARE NOT HARD CODING the url. URL is only mentioned once, in app.py-->
{% endblock %}





{% block app_content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trying google maps</title>

    <style> #mymap {width:90%; height:600px;} </style>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJVwfz-TJWiZCvLmgYHv2yHYc8vagp7V0&callback=initMap"
              type="text/javascript"></script>



    <script>
        function  init() {
            var mapDiv = document.getElementById("mymap");
            var mapCenter = new google.maps.LatLng(41.74025, -111.7915);
            var mapOptions = {
                center: mapCenter,
                zoom:9,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapDiv, mapOptions);

            var marker = new google.maps.Marker({
                map:map,
                position: mapCenter,
                draggable:true,
                label:"Outlet"
            });

            var rectangle = new google.maps.Rectangle({
                map: map,
                bounds: new google.maps.LatLngBounds (
                        new google.maps.LatLng(41.88,-111.8461),
                        new google.maps.LatLng(41.7215,-111.6208)
                ),
                fillColor:"green",
                strokeColor:"red",
                editable:true,
                draggable:true
            });

            google.maps.event.addListener(rectangle, "bounds_changed", function(){
                var bounds = rectangle.getBounds();
                var NE = bounds.getNorthEast();
                var SW = bounds.getSouthWest();

                document.forms["inputs"]["box_topY"].value= SW.lat() ;
                document.forms["inputs"]["box_rightX"].value= SW.lng();
                document.forms["inputs"]["box_leftX"].value= NE.lng();
                document.forms["inputs"]["box_bottomY"].value= NE.lat();

            });

            google.maps.event.addListener(marker, "dragend", function(event){
                document.forms["inputs"]["outlet_x"].value= this.getPosition().lng() ;
                document.forms["inputs"]["outlet_y"].value= this.getPosition().lat() ;
            });

        }
        window.onload = init;

    </script>


</head>
<body>
    <h5>  Specify the outlet and the bounding box hat completely contains the watershed</h5>
    <div id="mymap"></div>
    <div id="info"></div>
</body>
</html>

{% endblock %}































