{% extends "hydrotop/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}



{% block app_navigation %}

<div id="sim_list">{% gizmo select_input simulation_names_list %} </div>

<!--<div id="calib_list">{% gizmo select_input calibration_list %} </div>-->

{%endblock%}




{% block app_content%}
    {% load tethys_gizmos %}
    <p> table_model_calibration </p>
    {% gizmo table_view table_model_calibration %} <br><br>

    <p> table_model_input </p>
    {% gizmo table_view table_model_input %}<br><br>

    <!--<p> table_model_calibration_ALL </p>-->
    <!--{% gizmo table_view table_model_calibration_ALL %}<br><br>-->

    <!--<p> table_model_input_ALL </p>-->
    <!--{% gizmo table_view table_model_input_ALL %}<br><br>-->


    <p > Test string:  {{test_string1}}</p>
    <p > Test string2:  : </p>

    <p id="id_1" style="font-size:80%"> Id_1  </p>
{%endblock%}



{% block app_actions %}
{% endblock %}




{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'hydrotop/css/model_input.css' %}" rel="stylesheet"/>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'hydrotop/js/tables.js' %} " type="text/javascript"></script>
{% endblock %}

