{% extends "hydrotop/home.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}


{% block app_navigation %}

<!--Model inputs user form-->
<div id='form-container' class='' style="">

    <form id='user-form' method="post" action="{% url 'hydrotop:test2' %}" enctype="multipart/form-data">
        {% csrf_token %}


          Convert your shapefile to geojson <br>
          <table >
              <tr>
                  <th> Outlet </th>
                  <th><input type="file" name="outlet_upload" multiple> </th>
                  <!--<th><input type="submit" name="Upload" value="Upload" /> </th>-->
              </tr>

              <tr>
                  <th> Watershed </th>
                  <th><input type="file" name="watershed_upload" multiple> </th>
                  <!--<th><input type="submit" name="Upload" value="Upload" /> </th>-->
              </tr>

           </table>


        <div id="submit-response" >
            <p id="response-status"></p>
            <p id="response-result"></p>
        </div>

        <input id='submit-model-input-btn' type="submit" value="Submit" name='input-form' >


    </form>




</div>


{%endblock%}

{% block app_content%}
{% load tethys_gizmos %}

{% gizmo table_view table_query %}

<p > Test string: {{test_string1}}</p>

<!--Google map-->
<div id='map-container' >
    <!-- app intro-->
    <div id='title' style="margin-bottom:5px">

        <p >
            The model input package includes different forcing dataset and model parameter files,
            which will be automatically created as Model Instance resource in HydroShare.
        </p>

    </div>

    <!-- map -->
    <p style="color:#878787" >Please draw the bounding box (domain) and outlet point to the watershed (US continent only)</p>
    <div id="map" style="width:900px; height:500px"></div>

    <p data-toggle="collapse" data-target="#intro-detail" style="color: green; margin-bottom: 10px"><strong><u>See more details</u></strong></p>

        <div id="intro-detail" class="collapse" style="background-color:#f2f2f2">
            <p style="font-size:100%">
                <strong>Terrain variables:</strong> terrain slope and aspect. Data are derived from National Elevation Datasets USGS.<br>
                <strong>Land cover variables:</strong> canopy coverage fraction, canopy height, leaf area index. Data are derived from National Land Cover Dataset.<br>
                <strong>Climate variables:</strong> incoming shortwave, minimum air temperature, maximum air temperature, air vapor pressure, precipitation. Data are derived from Daymet .<br>
                <strong>Model parameter files:</strong> control.dat, param.dat, siteinitial.dat, inputcontrol.dat, outputcontrol.dat.
            </p>
        </div>

</div>

{%endblock%}



{% block app_actions %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOUQD9R_tLb6NKA22cuTTvF0j6X8wkgI&callback=initMap&libraries=drawing">
    </script>
    <script src="{% static 'hydrotop/js/model_Input.js' %} " type="text/javascript"></script>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'hydrotop/css/model_input.css' %}" rel="stylesheet"/>
{% endblock %}
